body {
  color: #000;
  background: #977;
  font-family: verdana, tahoma, sans-serif;
}

#contentwrapper {
  width: 75%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px auto;
  margin-bottom: 10px;
  background: #d9d9d9;
  border: 1px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}

h1.title {
  text-align: left;
  margin-bottom: 0;
  color: #b00;
}

.subtitle {
  text-align: right;
  border-top: 1px black solid;
}

dt {
  margin: 0.5em 0 0.5em 0;
}

#content, #note {
  font-size: 0.9em;
  padding: 8px 20px;
  margin: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#content {
  border: 1px solid #aaa;
  background: #fff;
}

#note {
  background: #797;
  border: 1px solid #575;
  color: #fff;
}

.pod h1, .pod h2 {
  text-align: left;
  color: #b00;
}

a {
  color: #b00;
  text-decoration: none;
}

a:not(.article) {
  padding-left: .2em;
  margin-left: -.2em;
  padding-right: .2em;
  margin-right: -.2em;
}

#header a:hover,
.pod    a:hover
{
  color: #d00;
  background: #ffc;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

h2 {
  text-align: center;
  color: #b00;
}

.pod ul li p {
  display: inline;
}

pre {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #222;
  color: #ddd;
  font-size: 1em;
  font-family: monospace;
  width: 100%;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.calendar th {
  padding: 5px;
  border: 1px solid #ddd;
  background: #f0f0f0;
}

.calendar td {
  text-align: center;
  width: 9em;
  height: 5em;
  padding: 0;
}

.calendar td.day {
  background: #ccc;
}

.calendar td.day a {
  display: block;
  color: #444;
  height: 5em;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  line-height: 5em;
}

.calendar td.day a:hover {
  background: #f0f0f0;
}

.calendar td.day.advent {
  background: #aea;
}

.calendar td.day.advent.today {
  background: #797;
}

.calendar td.day.advent.today a { color: #fff; }

.calendar td.day.advent.today a:hover {
  background: #bdb;
  color: #000;
}

.calendar td.day.advent.missing,
.calendar td.day.missing#dec-25,
.calendar td.day.missing#dec-26 {
  background: #000;
  color: #f00;
}

.calendar td.day.advent.future {
  background: #eaa;
}
.calendar td#dec-25 {
  background: #ffd700;
  font-weight: bold;
}

#notes {
  border-top: 1px solid #ddd;
  clear: both;
}

#notes h2 {
  margin-top: 0.5em;
  text-align: left;
}

a img {
  border: 0;
}

blockquote {
  border-left: thick #797 solid;
  padding-left: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

h2#See_Also {
  padding-top: .4em;
  border-top: 1px solid #e0e0e0;
}

#pager {
  border-top: 1px solid #e0e0e0;
  list-style-type: none;
  margin-left: 0;
  padding: 0.4em;
  position: relative;
  width: 100%;
}

#pager li {
  color: #c0c0c0;
}

#pager .next {
  position: absolute;
  right: 0.4em;
  text-align: right;
  width: 33%;
}

#pager .previous {
  left: 0.4em;
  position: absolute;
  width: 33%;
}

.code-listing {
  background-color: #222;
  color: #ddd;
  font-size: 1em;
  font-family: monospace;
  white-space: pre;
  border-collapse: collapse;
  width: 100%;
}

.code-listing td {
  padding: 0;
  margin: 0
}

.code-listing .line-numbers {
  background-color: #797;
  color: #fff;
  border-right: 2px #b00 solid;
  width: 3.5em;
  text-align: right;
}

.code-listing .code {
  padding-left: 1em;
}

.feed {
  float: right;
  color: #ff0;
  padding-right: 1em;
  vertical-align: middle;
}

