body {
  color: #000;
  background: #977;
  font-family: verdana, tahoma, sans-serif;
}

#contentwrapper {
  width: 75%;
  min-width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px auto;
  margin-bottom: 10px;
  background: #d9d9d9;
  border: 1px solid #aaa;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.6em;
  text-align: center;
}

h1.title {
  text-align: left;
  margin-bottom: 0;
  color: #b00;
}

.subtitle {
  text-align: right;
  border-top: 1px black solid;
}

dt {
  margin: 0.5em 0 0.5em 0;
}

#content, #note{
  font-size: 0.9em;
  padding: 8px 20px;
  margin: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#content {
  border: 1px solid #aaa;
  background: #fff;
}

#note {
  background: #797;
  border: 1px solid #575;
  color: #fff;
}

.pod h1, .pod h2 {
  text-align: left;
  color: #b00;
}

a {
  color: #b00;
  text-decoration: none;
}

a:hover {
  color: #d00;
}

h2 {
  text-align: center;
  color: #b00;
}

pre {
  background-color: #222;
  color: #ddd;
  font-size: 1em;
  font-family: monospace;
  width: 100%;
}

.calendar {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
}

.calendar th {
  padding: 5px;
  border: 1px solid #ddd;
  background: #f0f0f0;
}

.calendar td {
  text-align: center;
  width: 9em;
  height: 2em;
  padding: 0;
}

.calendar td.day         { background: #ccc; }
.calendar td.day.advent    { background: #aea; }

.calendar td.day.advent.today  {
  background: #797;
}

.calendar td.day.advent.today a {
  border: 1px solid #575;
  color: #fff;
}

.calendar td.today a:hover {
  background: #bdb;
  color: #444;
}

.calendar td.day.advent.missing {
  background: #000;
  color: #f00;
}

.calendar td.day.advent.future {
  background: #eaa;
}

.calendar td#dec-25 {
  background: #ffd700;
}

.calendar a {
  display: block;
  padding: 5px;
  border: 1px solid #eee;
  text-decoration: none;
  color: #444;
}

.calendar a:hover {
  background: #f0f0f0;
}

#notes {
  border-top: 1px solid #ddd;
  clear: both;
}

#notes h2 {
  margin-top: 0.5em;
  text-align: left;
}

.rss {
  font-size: x-small;
  text-align: right;
}

a img {
  border: 0;
}

#pager {
  border-top: 1px solid #e0e0e0;
  list-style-type: none;
  margin-left: 0;
  padding: 0.4em;
  position: relative;
  width: 100%;
}

#pager li {
  color: #c0c0c0;
}

#pager .next {
  position: absolute;
  right: 0.4em;
  text-align: right;
  width: 33%;
}

#pager .previous {
  left: 0.4em;
  position: absolute;
  width: 33%;
}

.code-listing {
  background-color: #222;
  color: #ddd;
  font-size: 1em;
  font-family: monospace;
  white-space: pre;
  border-collapse: collapse;
  width: 100%;
}

.code-listing tr.line td { padding: 0; margin: 0 }

.line {
  margin: 0;
  padding: 0;
  line-height: auto;
}

.line_number {
  background-color: #797;
  color: #fff;
  border-right: 2px #b00 solid;
  padding-left: .5em;
  margin-right: 1em;
}

