[% article.body_xhtml %]

<ul id="pager">
[% IF yesterday %]
    <li class="previous"><a href="[% yesterday %].html">Previous</a></li>
[% ELSE %]
    <li class="previous">Previous</li>
[% END %]

[% IF tomorrow %]
    <li class="next"><a href="[% tomorrow %].html">Next</a></li>
[% ELSE %]
    <li class="next">Next</li>
[% END %]
</ul>
<div style="clear: both"></div>
