<h2>December [% year %]</h2>
<table class="calendar">
<tr>
    <th>Sunday</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
    <th>Saturday</th>
</tr>
[% USE date %]
[% calc = date.calc %]
[% FOR week = calendar %]
  [% week %]
<tr>
  [% FOR day = week %]
    [% day %]
    [% IF day %]
[% today = 0 %]
[% today = 1 UNLESS calc.Delta_Days(now.year, now.month, now.day, year, 12, day ) %]
[% future = 1 IF calc.Delta_Days(now.year, now.month, now.day, year, 12, day ) > 0 %]
    <td class="[% 'future ' IF future %]link[% IF today %] today[% END %]"><a href="/[% day %]">[% day %]</a></td>
    [% ELSE %]
    <td>&nbsp;</td>
    [% END %]
  [% END %]
[% END %]
</tr>
</table>

